# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.out
*.pid

# Env
.env
.env.local
.env.*.local

# Vite
dist/
.vite/

# React build
build/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# MongoDB
dump/
